<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVG4WELZ67XU22Lylg68hmp24zC_M4rPs</string>
	<key>GCM_SENDER_ID</key>
	<string>200999714906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testsss</string>
	<key>PROJECT_ID</key>
	<string>my-notes-flutter-melearn</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-flutter-melearn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200999714906:ios:0141f8708794152868d863</string>
</dict>
</plist>